src/main/resources/EBOR_TX_Business_HeaderXSD_head.001.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 13:50:29, 
	ISO 20022 version : 2013 -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xs:head.001.001.01"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	targetNamespace="urn:iso:std:iso:20022:tech:xs:head.001.001.01">
	
	<xs:element name="AppHdr" type="BusinessApplicationHeaderV01" />
	<xs:complexType name="BusinessApplicationHeaderV01">
		<xs:sequence>			
			<xs:element name="Fr" type="Party9Choice"  maxOccurs="1" minOccurs="1"/>
			<xs:element name="To" type="Party9Choice"  maxOccurs="1" minOccurs="1"/>
			<xs:element name="BizMsgIdr" type="Max35Text" maxOccurs="1" minOccurs="1" />
			<xs:element name="MsgDefIdr" type="Max35Text" maxOccurs="1" minOccurs="1" />
			<xs:element name="BizSvc" type="Max35Text" maxOccurs="1" minOccurs="0" />
			<xs:element name="CreDt" type="ISONormalisedDateTime" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"  maxOccurs="1" minOccurs="1"/>
			<xs:element name="Prtry" type="Max35Text"  maxOccurs="1" minOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"   maxOccurs="1" minOccurs="1"/>
			<xs:element name="Prtry" type="Max35Text" maxOccurs="1" minOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" maxOccurs="1" minOccurs="1" />
			<xs:element name="SchmeNm" 	type="OrganisationIdentificationSchemeName1Choice"  maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" maxOccurs="1" minOccurs="1" />
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" maxOccurs="1" minOccurs="0" />
			<xs:element name="Issr" type="Max35Text" maxOccurs="1" minOccurs="0"  />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ISONormalisedDateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value=".*Z" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification7">
		<xs:sequence>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalOrganisationIdentification1Code" maxOccurs="unbounded" minOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party10Choice">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification7"  maxOccurs="1" minOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party9Choice">
		<xs:choice>
			<xs:element name="OrgId" type="PartyIdentification42" maxOccurs="1" minOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification42">
		<xs:sequence>
			<xs:element name="Id" type="Party10Choice" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalPersonIdentification1Code" maxOccurs="1" minOccurs="1"  />
			<xs:element name="Prtry" type="Max35Text" maxOccurs="1" minOccurs="1" />
		</xs:choice>
	</xs:complexType>
</xs:schema>
